<h1 class="display-4">Mis proyectos</h1>
<hr>
<div class="row">
    <div class="col-4">
        <div class="card">
            <%= image_tag 'work/work1.jpg', class:"card-img-top" %>
            <div class="card-body">
                <h4 class="card-title fw-bold">Ricomida</h4>
                <p class="card-text">Una web responsiva para un restaurante. Utiliza Bootstrap 5 y Popper.js.</p>
                <%=link_to "Ver m치s", home_path, class: "btn btn-custom px-4"%>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <%= image_tag 'work/work2.jpg', class:"card-img-top" %>
            <div class="card-body">
                <h4 class="card-title fw-bold">Viajes Chile</h4>
                <p class="card-text">Una web responsiva para una agencia de viajes. Utiliza Bootstrap 5 y Jquery</p>
                <%=link_to "Ver m치s", home_path, class: "btn btn-custom px-4"%>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <%= image_tag 'work/work3.jpg', class:"card-img-top" %>
            <div class="card-body">
                <h4 class="card-title fw-bold">Nasa App</h4>
                <p class="card-text">Una aplicaci칩n Ruby on Rails que se conecta a una api para mostrar fotos.</p>
                <%=link_to "Ver m치s", home_path, class: "btn btn-custom px-4"%>
            </div>
        </div>
    </div>
</div>